[2015-01-16 07:01] btcll commented on #20
Backup taken and pushed to bitsquare/site for January 2015:
https://github.com/bitsquare/site/commit/b71179d76f2b98731808319a5a4bf7b1900e59ff

[2015-01-18 12:25] ManfredKarrer opened #48 "Make font a bit darker"
Someone mentioned that the grey of the font is a bit hard to read (on a bad monitor). Maybe we can make it a bit darker. Black is probably too strong.

[2015-01-18 12:45] ManfredKarrer commented on #48
I changed it already: from #808080 to #666 which is the same grey we use in the headers.
From design i like the ligher more, but for reading it might be a bit better... though it is not too much difference.

body {

	font-size: 14px;
	line-height: 22px;
	color: #666; /* gray #808080*/
	font-weight: 300;
}

[2015-01-18 12:45] #48 closed

[2015-01-26 11:08] ManfredKarrer commented on #49
Thanks for the suggestion! I added a screenshot: https://bitsquare.io/crowdfunding/

[2016-10-19 08:01] ManfredKarrer commented on #50
Ah yeah thats outdated. I think I just remove it. To sync it always form wordpress is more effort as it would be help of. You are the first also who looks into it :-). If you want to improve anything on the webpage, let me know I can give you access. But I prefer to stay focussed on teh app stuff, enough to do there, and it might be that we get a completely new webage anyway some day by a professi

[2016-10-19 16:17] jonathancross commented on #50
Okay good to know  :-)
Probably best to remove from GitHub then.
Cheers.

[2017-07-25 10:07] cbeams opened #1 "Migrate site to Jekyll / Netlify"
The bisq.io site has recently been ported from WordPress to a static site. These assets can now be found in the `wordpress` branch of this repository.

In its current form, the site is a serious maintenance burden, because there is no templating or static site generation framework in place. This means lots of copying and pasting, and all the problems that follow.

This issue is about porting those

[2017-07-25 10:13] cbeams opened #2 "Rewrite /dao copy"
The copy at https://bisq.io/dao should be updated to provide a better overview of what we're up to with the Bisq DAO. The overview and detailed Google Docs contain most of what folks need to know, but expecting them to click through and read those docs in their entirety (even the overview) is too much.

[2017-07-31 05:36] cbeams opened #3 "Remove 'banner:' from post front matter"

[2017-07-31 05:39] cbeams opened #4 "Add Atom blog feed"

[2017-07-31 05:40] cbeams opened #5 "Add 404 page"

[2017-07-31 05:40] cbeams opened #6 "Add analytics"
- [x] Add to site
- [x] Add to forum
- [x] Configure to [View Full Page URL In Reports](https://support.google.com/analytics/answer/1012243?hl=en)
- ~~Track 404s~~ (moved to follow-on issue

[2017-07-31 05:41] cbeams opened #7 "Add sitemap"

[2017-07-31 05:42] cbeams opened #8 "Add robots.txt"
- [x] Include entry for sitemap (#7)

[2017-07-31 05:44] cbeams opened #9 "Find and fix/remove dead links"

[2017-07-31 05:53] cbeams opened #10 "Re-introduce Disqus comments"
... or not. They're gone now (on the new Jekyll-based site). Not sure it's worth re-introducing them. May want to just send folks to Twitter / Forum for following up on posts, in the interest of consolidating communication channels.

[2017-07-31 07:46] cbeams opened #11 "Normalize HTML titles"

[2017-07-31 07:47] cbeams opened #12 "Convert pages from HTML to Markdown"
Blog posts have already been converted as part of #1. This issue deals with converting the rest of the pages on the site (as appropriate)

[2017-07-31 08:15] cbeams opened #13 "Replace Bisq => Bitsquare in posts that occurred before rebranding"

[2017-07-31 08:36] ManfredKarrer commented on #10
I don't see much value in Disqus. We can drop it. Often comments have been rather spam/reddit-like trolling...

[2017-07-31 09:27] cbeams commented on #10
Sounds good. Closing as dropped, thanks.

[2017-07-31 09:27] #10 closed, assigned to cbeams

[2017-07-31 09:47] ManfredKarrer opened #14 "Add recent Teil 4 Barcelona interview to press page"
There are some past events/articles/interviews not added to the press page yet:

Interview:
- https://www.youtube.com/watch?v=lpm2tAQLEgc

[2017-08-01 07:23] cbeams commented on #14
Closing as complete. Note however that the change is only visible on the staging site at http://bisq.beams.io/press/, as we have not yet gone live with the Jekyll-based site.

[2017-08-01 07:23] #14 closed, assigned to cbeams

[2017-08-02 06:03] cbeams commented on #12
Closing as complete. Several pages (see below) remain html-based, but this is because they are table-heavy, going away soon or otherwise not ideal to move to Markdown.

[code]

[2017-08-02 06:03] #12 closed, assigned to cbeams

[2017-08-02 06:12] cbeams opened #15 "Flip bisq.io DNS to point to GH pages"

[2017-08-02 06:12] cbeams opened #16 "Decommission Digital Ocean server"

[2017-08-02 06:25] cbeams opened #17 "Track 404s via analytics"

[2017-08-02 06:27] cbeams commented on #5
Closing as complete.

![image](https://user-images.githubusercontent.com/301810/28860298-580e2972-775c-11e7-88c2-5aeeded75f61.png)

[2017-08-02 06:27] #5 closed, assigned to cbeams

[2017-08-02 06:30] cbeams commented on #3
Closing as complete.

[2017-08-02 06:30] #3 closed, assigned to cbeams

[2017-08-02 07:57] cbeams commented on #9
Closing as complete. All broken links have been fixed or removed, as validated by https://www.drlinkcheck.com and http://www.deadlinkchecker.com/.

[2017-08-02 07:57] #9 closed, assigned to cbeams

[2017-08-02 08:26] cbeams commented on #4
Closing as complete. The feed is now available at https://bisq.beams.io/blog/feed.atom.

![image](https://user-images.githubusercontent.com/301810/28864477-f2bbd216-776c-11e7-9042-32c0a9e1deb4.png)

[2017-08-02 08:26] #4 closed, assigned to cbeams

[2017-08-03 14:16] cbeams commented on #15
Closing as complete.

[code]

[2017-08-03 14:16] #15 closed, assigned to cbeams

[2017-08-03 14:20] cbeams opened #18 "Transfer bitsquare.io domain from iwantmyname => namecheap"
bitsquare.io is the only bisq-related domain whose DNS is managed at iwantmyname. Better for consolidation purposes to host it where everything else is, i.e. namecheap.

This will also allow us to set up a redirect from bitsquare.io => bisq.io managed by namecheap. Currently bitsquare.io still points to (and serves) the digital ocean-based site, which will be shut down in (#16)

[2017-08-03 14:21] cbeams opened #19 "Redirect bitsquare.io => bisq.io"
See namecheap's [How do I set up a URL redirect for a domain?](https://www.namecheap.com/support/knowledgebase/article.aspx/385)

[2017-08-03 14:33] cbeams commented on #18
Just updated the title to reflect that we actually want to move the whole domain (not just its DNS) from iwantmyname => namecheap. Then iwantmyname will be fully out of the mix. One less thing to manage.

[2017-08-03 15:27] cbeams opened #20 "Enable and force HTTPS"

[2017-08-03 15:38] cbeams commented on #18
Transfer has been initiated and is now "Awaiting release from previous registrar.":

![image](https://user-images.githubusercontent.com/301810/28930203-83986032-7872-11e7-8b41-05319c8d1123.png)

[2017-08-04 14:50] cbeams commented on #18
Closing as complete, bitsquare.io and all other domains are managed at namecheap now. @ManfredKarrer, your iwantmyname account can be decommissioned now if you like. No domains are managed there.

[2017-08-04 15:07] #18 closed, assigned to cbeams

[2017-08-04 15:11] cbeams opened #21 "Deploy site to Netlify"
- [x] Set up Slack notifications
- [x] Decomission GitHub Pages deployment

[2017-08-04 15:51] cbeams commented on #20
## Before

[code]

## After

[code]

[2017-08-04 15:51] #20 closed, assigned to cbeams

[2017-08-04 15:52] cbeams commented on #20
Note that this "forcing of https" for bisq.io is just through Netlify's redirect rules. Netlify also offers proper HSTS-style https forcing, but I wanted to hold off before pressing that hard-to-reverse button.

[2017-08-04 15:55] cbeams commented on #21
Closing as complete. From https://app.netlify.com/sites/bisq-site/settings:

![image](https://user-images.githubusercontent.com/301810/28976395-f8b298e4-793d-11e7-94b7-8c0bd35dfb37.png)

[2017-08-04 16:20] #21 closed, assigned to cbeams

[2017-08-05 08:36] cbeams commented on #19
Closing as complete. Redirects from bitsquare.io => bisq.io have been set up using CloudFlare's page rules. See https://github.com/bitsquare/infrastructure/issues/2#issuecomment-320430541 for details.

[2017-08-05 08:36] #19 closed, assigned to cbeams

[2017-08-05 15:20] cbeams commented on #6
Closing as complete.

[2017-08-05 15:20] #6 closed, assigned to cbeams

[2017-08-05 15:58] cbeams commented on #17
Closing as complete. 404s now show up in analytics like this:

![image](https://user-images.githubusercontent.com/301810/28996826-69804db8-7a07-11e7-9b13-90871141f737.png)

Meaning that when someone tries to access a 404 resource like https://bisq.io/bogus, we'll see a record like the one above, making it easy for us to catch these errors and put redirects in place or whatever else might be approp

[2017-08-05 15:58] #17 closed, assigned to cbeams

[2017-08-06 12:23] cbeams commented on #8
Closing as complete.

[code]

[2017-08-06 12:23] #8 closed, assigned to cbeams

[2017-08-06 12:25] cbeams commented on #7
Closing as complete.

[code]

See commit comment at e643e1b for additional details.

[2017-08-06 12:25] #7 closed, assigned to cbeams

[2017-08-07 17:39] cbeams commented on #13
Closing as complete.

[2017-08-07 17:39] #13 closed, assigned to cbeams

[2017-08-08 10:12] cbeams opened #22 "Put redirect in place for old arbitration pdf"

[2017-08-08 10:17] cbeams commented on #22
Closing as fixed.

[2017-08-08 10:17] #22 closed, assigned to cbeams

[2017-08-08 10:18] cbeams commented on #22
## Before
[code]

## After
[code]

[2017-08-08 10:21] cbeams opened #23 "Fix Googlebot-reported 404s"
#22 fixed 404s on the old path to `/arbitration_system.pdf`. This issue is about following up with other 404s that have cropped up since the migration to Jekyll / Netlify in #1.

![image](https://user-images.githubusercontent.com/301810/29067716-048732b2-7c34-11e7-8bf0-6521289e5760.png)

[2017-08-08 10:43] cbeams commented on #23
Closing as fixed. The commit above addresses each of the checked boxes below:

![image](https://user-images.githubusercontent.com/301810/29068407-ff870bcc-7c36-11e7-9a7b-e954c80dead1.png)

[2017-08-08 10:43] #23 closed, assigned to cbeams

[2017-08-09 17:16] cbeams commented on #1
Closing as complete!

[2017-08-09 17:16] #1 closed, assigned to cbeams

[2017-08-10 07:04] Emzy commented on #16
I will shut down the old VM, if there is now no use for it.
We have resources on this host system for new VMs.

[2017-09-06 09:11] cbeams commented on #16
Closing as complete, in that there is nothing left to manage with the Digitial Ocean server. @emzy will decommission it if and when he chooses.

[2017-09-06 09:11] #16 closed, assigned to cbeams

[2017-09-06 09:39] cbeams opened #24 "Migrate website from https://bisq.io => https://bisq.network"

[2017-09-06 10:20] cbeams commented on #24
Closing as complete. bisq.io now redirects to bisq.network. Twitter and GitHub have been updated to link to https://bisq.network. We can update other links around the web as we encounter them.

[2017-09-06 10:20] #24 closed, assigned to cbeams

[2017-09-07 09:21] cbeams commented on #11
Closing as dropped. The website will be overhauled soon anyway, no need to mess with titles for now.

[2017-09-07 09:21] #11 closed, assigned to cbeams

[2017-09-07 09:24] cbeams commented on #2
Closing as superseded by the work being done in the bisq-network/docs repository. DAO papers will be moved there and links on the website will be updated. Existing copy on /dao page will be removed or overhauled then.

[2017-09-07 09:24] #2 closed, assigned to cbeams

[2017-09-09 06:28] cbeams opened #25 "Generate Let's Encrypt cert for bisq.network"
bisq.network is currently proxied through Cloudflare. Generate a Let's Encrypt cert for it directly via Netlify.

[2017-09-09 10:27] cbeams commented on #25
Closing as complete.

[2017-09-09 10:27] #25 closed, assigned to cbeams

[2017-09-13 14:12] eljobe opened #26 "`/contribute` still uses old bitsquare logo"
Almost all of the banner images on the website use the bisq logo, but https://bisq.network/contribute/ is still using the bitsquare logo.

Compare the Community banner image:
![community](https://github.com/bisq-network/website/blob/master/images/community.png?raw=true)

With the Contribute banner image:
![contribute](https://github.com/bisq-network/website/blob/master/images/contribute.png?raw=tr

[2017-09-13 14:28] cbeams commented on #26
Good catch, thanks Pepper! I've actually been aware of this, but haven't changed it as the general plan is to radically simplify the website in the near future, possibly doing away with these banners (and indeed possibly with this page).

With that said, it would be cool to have it changed in the meantime. I do not personally have the source files for these images, but perhaps @ManfredKarrer does.

[2017-09-13 15:38] ManfredKarrer commented on #26
Thanks @eljobe for catching that.
The header file was created but seems it was not uploaded....
Here it is:
![contribute](https://user-images.githubusercontent.com/1449498/30386458-7ab502e6-986f-11e7-8613-6ae157c5d06e.png)

[2017-09-16 12:07] cbeams commented on #26
Closing as fixed. Thanks again @eljobe!

![image](https://user-images.githubusercontent.com/301810/30512137-5a822a50-9ae8-11e7-9b68-5a67d5199339.png)

[2017-09-16 12:07] #26 closed, assigned to cbeams, ManfredKarrer

[2017-09-20 16:52] ManfredKarrer opened #29 "Signing key is missing"
Signing key is missing in https://bisq.network/pubkey/F379A1C6.asc (used for in-app downloader)

Key is at:
https://github.com/bisq-network/exchange/releases/download/v0.5.3/F379A1C6.asc

[2017-09-20 18:01] cbeams commented on #29
Hm. The key is present for me:

[code]

See commit 465ed7e576203954fb795cbbda1fe33eb28e8d72 / bisq-network/exchange#900 for details.

[2017-09-20 18:08] cbeams commented on #29
Closing as invalid. Confirmed with @ManfredKarrer via Slack that the key is in fact correct. The in-app downloader is referencing it via the bisq.io domain, but redirects are in place. Appears all is well.

[2017-09-20 18:08] #29 closed, assigned to cbeams

[2017-09-20 19:35] cbeams opened #30 "Publish signing key for Chris Beams"
Per @ManfredKarrer's request in Slack

[2017-09-20 19:39] cbeams commented on #30
Closing as complete:

[code]

[2017-09-20 19:39] #30 closed, assigned to cbeams

[2017-10-25 11:45] cbeams opened #35 "Redesign website"
The https://bisq.network site currently has a lot of baggage that has accumulated over the years, and with the launch of the DAO now is a good time to redesign and (radically) simplify the site.

----

UPDATE 2017.12.12: @csacher, @ripcurlx and @cbeams met to kick this off as a project. See comments below for further details.

[2017-11-16 07:58] philippnagel commented on #35
I am happy to help. Would love to hear about your ideas!

[2017-11-21 15:16] changalberto commented on #35
Happy to help as well

[2017-12-12 13:20] cbeams commented on #35
A few quick tasks from our call today with @csacher, @ripcurlx and @cbeams:

 - [ ] Begin working on messaging / content / information design in this GDoc https://docs.google.com/document/d/1l-L9ghjJeNoDShVJ1fFox5GMPaYk2EdyEqVt42aoZvQ/edit?usp=sharing
 - [ ] @ripcurlx to set up and share access to Invision Moodboard (filling it with ideas, inspirations)
 - [ ] @cbeams to upload 5+ inspiration / sc

[2017-12-12 13:25] ripcurlx commented on #35
moodboard: https://projects.invisionapp.com/boards/Z53GGJM6V8K3F/

[2018-01-04 14:14] cbeams commented on #35
This effort is on hold for the moment while the dust settles around some other higher priority issues that cropped up in December, e.g. fee reimbursements, lots of arbitration issues, network stability problems, etc.

[2018-01-06 16:56] tr37ion commented on #35
Sounds interesting. I can help if I find the time to contribute.

[2018-01-07 10:32] cbeams commented on #35
To those who have offered to help, thank you. Please include a few links to prior public work and say something about your skills so that we know who we can ping for what in the future.

[2018-01-07 16:18] changalberto commented on #35
I am mostly a web/front-end developer working in the creative and advertising industry. But because we deal with a variety of clients, ranging all sorts of industry, from makeup brands to medical, I get the opportunity to improve and add new skillsets into my toolbelt.

Most recently, I've been working with React and Angular in Redux, as well as working with Rest API and GraphQL services...

To su

[2018-01-08 06:26] cbeams commented on #35
Nice, thanks. Note (to all) that the Bisq website will likely remain extremely simple, even simpler than it is now, and will continue to be a statically generated site using Jekyll and hosted on Netlify. Experience with Jekyll and AsciiDoc are therefore important. Strong HTML5 skills are a must. Work with Bootstrap and similar CSS frameworks required. Mostly we'll be looking for people to help us

[2018-01-19 17:46] blabno opened #39 "Invalid link to slack workspace"
- When I enter https://bisq.network/community/
- And I click `Bisq Slack workspace` link
- Then I am redirected to `https://bisq.slack.com/join/shared_invite/enQtMjg5MjE4OTQ2MTE5LWFkMjE5M2E5OTYwM2QyM2JmMzUxZmZlNmU0NTM5ZDIwOTBhMzFjOGY5NzYyODc5ZGVjMjM1ZTVkYjFlNzdlZjg`
- And I see `This invite link is no longer active. Please check with the person who shared it with you to see if there's a new link a

[2018-01-19 23:17] #39 closed, assigned to cbeams

[2018-01-19 23:18] cbeams commented on #39
Closed with commit 9b802a4. Thanks, @blabno!

[2018-01-26 08:23] JeremyRand opened #40 "Home page prompts user to install Flash when in Tor Browser's High Security mode"
When I visit https://bisq.network/ in Tor Browser's High Security mode (which implies that JS is disabled), the Vimeo video isn't playable (which is mildly bad), and Vimeo prompts me to install Flash (which is much worse).

I'm not sure what the right way to fix this is (ideally if you can host an MP4 or WEBM file directly without using a player, then Tor Browser will let the user play it without

[2018-01-26 08:27] JeremyRand commented on #40
The message from Vimeo is: "What’s going on here?  Some of your technology may be out of date, which means this video won’t play properly. Please upgrade your browser or install Flash."

Note that the above message only appears for a subset of Tor circuits.  For the remaining Tor circuits, Vimeo instead says "You have been temporarily blocked.  Pardon the inconvenience, but our servers have detect

[2018-01-26 08:42] cbeams commented on #40
Thanks, @JeremyRand. Do you know what Tor Browser's High Security mode does with YouTube embedded videos? We're planning to move the explainer video (and everything else) from our Vimeo account to our new YouTube channel as part of https://github.com/bisq-network/dao/issues/22.

[2018-02-11 18:26] mxschons opened #43 "SegWit Donation Address :)"
I think an update to SegWit 3... and in the future to bech32 would be nice.
-> https://bisq.network/contribute/

[2018-02-28 17:39] ghubstan opened #45 "Typo in FAQ under "Does Bisq support ‘XYZ’ payments?""
National bank transfer is supported in every country (**_expect_** the US - but there is Zelle and others).

Should be **_except_**.

[2018-03-01 02:21] cbeams commented on #45
Closing as complete. I cherry-picked the commit from your repository @ghubstan. In the future, please:

- submit changes as a pull request
- update your Git author metadata to use your first and last name. (it currently reads `author` right now:
[code]

[2018-03-01 02:21] #45 closed, assigned to ghubstan

[2018-03-01 16:53] ghubstan commented on #45
Sorry for the error.  Will you clarify what I did wrong, RE: "submit changes as a pull request"?
I created Issue #45, and then  PR #46.  Where did I go wrong?
Thanks.

(I fixed my global git config uname setting.)

[2018-03-01 19:05] cbeams commented on #45
I missed that you had created #46 as well. In any case, if you're going to create a pull request anyway, don't bother with creating an issue too. You can just submit the PR.

And thanks for fixing your Git config. Cheers!

[2018-03-06 11:05] dolebas opened #47 "Min trade fee in the FAQ should no longer be 0.0002 BTC?"
Was about to propose a file change here, changing 0.0002 BTC to 0.00005 BTC, but I'm not sure what else might need to be updated.

https://github.com/bisq-network/website/edit/master/faq.html

![image](https://user-images.githubusercontent.com/27515901/37029105-7d45fdd0-2136-11e8-8ba6-dc6d80cc513c.png)

[2018-03-06 22:50] ManfredKarrer commented on #47
True its 0.00005 BTC now. Would u like to make the change and a PR?

[2018-03-07 08:13] dolebas commented on #47
Would be happy to. Is everything else still accurate, default fee, etc?

[2018-03-07 22:47] ManfredKarrer commented on #47
Yes, rest is ok, just min fee has been decreased. Thanks.

[2018-03-08 09:21] dolebas commented on #47
Done.

Very tiny PR but, at a philosophical level, the concept of merging into a pioneering DAO is pretty exciting =)

Ps searched the website repo for "0.0002" and it doesn't show any other occurrences that needs to be updated.

[2018-03-08 10:49] #47 closed, assigned to nobody

[2018-03-08 14:56] ManfredKarrer commented on #47
Great thanks!

[2018-04-09 16:27] jcaudle opened #49 "Home page links to old whitepaper"
As someone new to Bisq, it is somewhat confusing that the main page has a button for the older whitepaper which is headed with a note to look at the new paper from October 2017. Should that link be updated to look at the new paper?

[2018-05-01 10:30] ghost opened #50 "Website"
how do i navigate to the 127.0.0.1:4000, when am on a vps because when i use an ExternalIp:4000 it does not work. I understand the code very well

[2018-05-01 10:44] cbeams commented on #50
Please provide more context. Are you running Jekyll locally on your own machine, or actually running it remotely on a VPS? Why would you be running it on a VPS?

`jekyll serve` is just a convenience for development purposes. Jekyll is a static website generator, so if you want to actually serve it from a VPS, you would just serve the HTML and other static assets generated by `jekyll build`.

But a

[2018-05-01 11:04] ghost commented on #50
Ok am just going to stay on it locally, and here is this error
Configuration file: /home/laugh26/bisq-website/_config.yml
            Source: /home/laugh26/bisq-website
       Destination: /home/laugh26/bisq-website/_site
 Incremental build: disabled. Enable with --incremental
      Generating...
  Liquid Exception: invalid byte sequence in US-ASCII in _layouts/redirect.html
jekyll 3.5.1 | Error:

[2018-05-01 11:09] cbeams commented on #50
No idea what's causing that. The instructions in the README work fine for me locally (on macOS) and work fine on Netlify, which is *nix-based.

A quick search tells me this is probably some system-specific locale issue on your side. Search for the error messages in question (e.g. like the query below) and you should find solutions to the problem:

https://duckduckgo.com/?q=Liquid+Exception%3A+inva

[2018-05-01 11:20] ghost commented on #50
where is this located
image: ruby:2.3

before_script:
  - apt-get update >/dev/null
  - apt-get install -y locales >/dev/null
  - echo "en_US UTF-8" > /etc/locale.ge…

[2018-05-01 11:39] cbeams commented on #50
Closing as off-topic. This isn't a Jekyll support forum, and I have no idea whether what you're trying to do is of any value to Bisq / worth my time to answer. Please follow up with questions like this on StackOverflow or elsewhere. Best of luck.

[2018-05-01 11:39] #50 closed, assigned to nobody

[2018-05-12 15:47] JeremyRand commented on #40
@cbeams the embedded YouTube video that's now on https://bisq.network/ displays the following error: "An error occurred.  Try watching this video on www.youtube.com, or enable JavaScript if it is disabled in your browser."

This is certainly better than prompting the user to install Flash, although it would be even better if there were a way that you guys could directly embed a video file without

[2018-06-06 07:33] cbeams commented on #49
Closing as complete. The link has been updated to point to https://docs.bisq.network. (See also the new link to 'docs' in the header navigation.)

[2018-06-06 07:33] #49 closed, assigned to cbeams

[2018-06-07 10:25] ghost opened #56 "faq and gender"
The faq mentions:

Is there any reason to use "her" and "she" ? or it's just some wink ?

I'm not at all shocked, just asking.

[2018-06-07 19:33] ManfredKarrer commented on #56
I think its the political correct gender case, but I am not a native speaker....

[2018-06-07 19:47] cbeams commented on #56
I consistently use the gender-neutral "singular they" in all of my arbitration communications, e.g. "The seller says *they* have not received your payment". I do this because I often have no way of knowing the gender of either party, and even if it is possible to infer it from first/last name information, using the singular they makes everything simple and consistent. See https://en.wikipedia.org/

[2018-06-08 05:02] cbeams commented on #56
Closing as answered. @HarryMacfinned, feel free to submit a pull request to fix this, thanks.

[2018-06-08 05:02] #56 closed, assigned to nobody

[2018-06-26 06:12] kopite77 opened #60 "FAQ: Update Trading Details > Edit Offer"
The ["How can I edit my offer"](https://bisq.network/faq/#editOffer) section of the FAQ should be updated since v.0.7.0 now supports this.

[2018-06-26 10:07] ManfredKarrer commented on #60
Thanks for reporting!

[2018-07-03 17:12] ghost opened #65 "update the blog"
We already had a little discussion about that (on the slack I think).
I believe the blog is important as shop window.
In order to update the blog without too much work, I simply suggest to use the last update
from https://bisq.network/roadmap/ as the next blog post.
We may wait for v0.7.1 for that. Or group the v0.7.0 and v0.7.1 novelties in one post.
Maybe add 2 or 3 welcome lines, and this would

[2018-07-05 06:01] cbeams commented on #65
@HarryMacfinned, to be clear, when you say the last update from https://bisq.network/roadmap, you mean the latest release announcement, correct?

I think it's fine to republish release notes on the blog. It shows signs of life, is better than nothing, and is easy to do if done correctly.

Better than copying the latest from the roadmap page is to copy the Markdown used on the actual GitHub release

[2018-07-05 06:32] ghost commented on #65
Yes Chris, it's exactly what I meant.
And I was also thinking using the markdown file. I'll prepare a PR. Thanks.

I'm also ok for doing that in the future (... if I do it successfully yet !).

I'll also think about additionnal material for the blog.

[2018-07-25 16:46] kopite77 opened #72 "FAQ: Remove Venmo & Cash App from payment methods"
IIRC these were removed due to charge-back risk so it should be removed from the [Payment Methods ](https://bisq.network/faq/#paymentmethods) section of the FAQ.

There is also a mention of these two in: Trading Details > What are the trade limits?

[2018-07-28 11:10] #72 closed, assigned to cbeams

[2018-08-06 05:02] ghost opened #74 "Add search engine to the website"
Today we have a nice amount of quality documentation on the website, but no global search engine (or I missed it).
Of course it's always possible to search specifically using Google, but a own search engine could be a help for newbies wanting to learn about this or this precise point/keyword concerning Bisq.

[2018-08-06 11:01] cbeams commented on #74
The main website and docs.bisq.network are statically generated sites. This means that integrating a search form, particularly a custom search form i.e. one for which we maintain and query our own index, etc, is not practical.

Integrating a Google custom site search form would be easy though, and is usually the sort of thing that static sites do, if they do anything at all.

DuckDuckGo and other

[2018-08-16 15:22] ManfredKarrer opened #78 "Add doc for F2F trading"
For the upcoming release (prob. 20. Aug.) we need an entry in the docs page for the rules and description for F2F trade.
We discussed a bit here: https://github.com/bisq-network/bisq-desktop/pull/1607

@m52go Do you have time to work on that?  We can start with a minimal version and update later to a more extended version (e.g. recommendations like on LocalBitcoins)

[2018-08-16 15:25] ManfredKarrer opened #79 "Add doc for Mobile notifications"
For the upcoming release (prob. 20. Aug.) we need an entry in the docs page for the Mobile notifications.

I suggested content for a text here:
https://github.com/bisq-network/bisq-desktop/issues/1622#issuecomment-413169865

@m52go Do you have time to work on that?

[2018-08-16 15:27] ManfredKarrer opened #80 "Add download links to mobile notification apps at Apple and Gogle Play store"
For the upcoming release (prob. 20. Aug.) we need to add the download links for the Mobile notifications apps to our download page. It has to be static html without javascript.

@joachimneumann Can you work on that?

[2018-08-16 18:34] m52go commented on #79
Hey @ManfredKarrer, yes I'll get this done before August 20.

[2018-08-16 18:38] m52go commented on #78
This one's on my list, but in that thread it was suggested that we integrate F2F Rules into the overall Rules doc, which hasn't been written yet. So it's a big job...that I can't do before August 20.

Unless it would be okay to just do F2F for now and put placeholders for everything else--then I could possibly get something done soon.

[2018-08-16 23:22] cbeams commented on #78
+1. Placeholders can be link to existing FAQ entries.

[2018-08-17 09:20] ManfredKarrer commented on #79
Great thanks! And sorry for the short notice...

[2018-08-17 14:47] m52go commented on #79
@ManfredKarrer @cbeams is there a placeholder for this doc already in `index.adoc`? I see this:

Is this part of the same initiative?

If not, let me know if this is any good:

- new doc at `mobile-notifications.adoc`
- create link at bottom of Features section (make it the third one) that looks something like this:

Mobile Notifications — *Get alerts for new offers, trades in process, and more ri

[2018-08-17 14:56] m52go commented on #78
Thanks @cbeams. Per your comment [here](https://github.com/bisq-network/bisq-desktop/pull/1607#issuecomment-407454450), are there any other places where Rules are documented aside from the FAQs? I'm sure some stuff is scattered through reddit/forum posts, which I can search for as needed.

[2018-08-17 15:30] cbeams commented on #79
Very good catch asking about this @m52go. Thank you.

Yes, the Bisq Mobile placeholder on `index.adoc` refers to this same overall effort.

It would therefore be better to maintain a single doc, and have the link in question here read as follows:

The doc title would be "Bisq Mobile" as it is in the placeholder.

You can add an admonition at the top the doc that explains it is a work in progress.

[2018-08-17 15:35] m52go commented on #79
Ah thanks for clarifying! I would've guessed otherwise.

[2018-08-17 15:47] cbeams commented on #78
My bad. There actually are no FAQ sections that deal with trading and arbitration rules.

In fact, to my knowledge, there is no place we capture them except here:

https://github.com/bisq-network/bisq-desktop/wiki/3.4.-Arbitration-system

@ManfredKarrer please correct me if I'm wrong.

So you can:

 - carry over these few rules from the wiki into a general section of a new `trading-rules.adoc` tha

[2018-08-17 15:48] cbeams commented on #78
And as an aside, it would be good to do these issues in the bisq-docs repository in the future, instead of here in the bisq-website repository.

[2018-08-17 20:09] ManfredKarrer commented on #78
I am also not aware of another place of rules. Maybe the user agreement in the app is relevant as well.
[code]

[2018-08-17 20:14] ManfredKarrer commented on #79
@m52go Regarding the plans for a full mobile app:

There is work in progress from Bernard for a mobile app which connects to the users Bisq app (desktop or headless on a server) via the HTTP API. This version seems to be very feature complete from most Bisq featues.
Joachim might continue to work on a lightweight mobile app for bi-directional communication (the notification is only Bisq app to Mob

[2018-08-17 20:18] ManfredKarrer commented on #79
@cbeams I just merged the redirect to the new URL and it works (though Page Not found atm).

[2018-08-17 21:10] cbeams commented on #79
Sorry, I should have been müde clear here. At this point the larger effort is “Bisq Remote” (not “Bisq Mobile”). The notifications we’re talking about are from Bisq Remote—just this very lightweight integration, please confirm, Manfred. So we souls keep it all on a dedicated page, but the page can revolve around Remote, not Mobile.

Sorry für the runaround @m52go. I’m mostly doing this from my pho

[2018-08-18 11:45] ManfredKarrer commented on #79
Hm... we don't have a clear naming for the 3 potential mobile apps.
1. Bisq mobile notifications which we have now ready. In the app stores it is called just Bisq atm. Open question what should be the name. Author is @joachimneumann
2. There is WIP project from @blabno for a full features Bisq mobile app using the HTTP API.
3. There is a rough idea that @joachimneumann continues to work on a mobil

[2018-08-18 12:34] cbeams commented on #79
Ugh. I've made a mess of this, and responded too hastily before. Thanks for clarifying, Manfred. Please go back to the original doc name and plan. When the fuller apps get fleshed out, then we can revisit this. @m52go, please replace the placeholder on index for "Bisq Mobile" with "Bisq Mobile Notifications", linking to  /mobile-notifications.html as originally planned. I'll stay out of this topic

[2018-08-18 14:03] m52go commented on #79
Alrighty! Thank you both.

[2018-08-20 12:26] ManfredKarrer commented on #78
@m52go We will likely release today (in a few hours). Could you add some PR for a preliminary text (placeholder) in case you have not completed the text? We can update then the next days, just to have not a "page not found"...

[2018-08-20 12:26] ManfredKarrer commented on #79
@m52go We will likely release today (in a few hours). Could you add some PR for a preliminary text (placeholder) in case you have not completed the text? We can update then the next days, just to have not a "page not found"...

[2018-08-20 12:28] ManfredKarrer commented on #80
@ripcurlx Could you add the links? The Android link should be available soon, the iOS link should contain (or link to) a text that Apple is still reviewing the app.

[2018-08-20 16:00] m52go commented on #78
I created [this issue](https://github.com/bisq-network/bisq-docs/issues/80) to discuss the whole Rules doc, F2F included. Moving forward let's move all discussion related to that doc over there.

[2018-09-23 15:03] #60 closed, assigned to ManfredKarrer

[2018-10-12 12:49] bugrasan opened #88 "Download drop-down list is misaligned"
system details:
FF 62.0.3
ubuntu 18.04

test site: https://pedromvpg.github.io/bisq-website/

see screenshot:
![image](https://user-images.githubusercontent.com/8294295/46866902-75c7b680-ce23-11e8-9eb0-0094424014bd.png)

same with top menu download links:
![image](https://user-images.githubusercontent.com/8294295/46866991-c17a6000-ce23-11e8-97db-0cbec914a9dc.png)

[2018-10-16 05:20] pedromvpg commented on #88
@bugrasan can you check if this is fixed? When I force this to detect Linux it works for me.
Can you also send a full browser screenshot so I can check the width of your window?

![screen shot 2018-10-16 at 1 20 11 am](https://user-images.githubusercontent.com/807505/46994257-b48a9480-d0e1-11e8-8574-95be3f4e31e9.png)
![screen shot 2018-10-16 at 1 19 28 am](https://user-images.githubusercontent.com

[2018-10-16 07:59] fedegrc opened #89 "Get Android Notifications App text and icon are overlapped"
Android 7.0
Firefox 61.0.2

![screenshot_20181016_095429](https://user-images.githubusercontent.com/14953828/47000953-b9733680-d129-11e8-9752-b59dec34b6f6.png)

[2018-10-16 08:06] bugrasan commented on #88
taken with FF screenshot:

![image](https://user-images.githubusercontent.com/8294295/47001512-eaa03680-d12a-11e8-8197-2a68bc00aac2.png)

![image](https://user-images.githubusercontent.com/8294295/47001491-df4d0b00-d12a-11e8-919d-49ecee7fbcf4.png)

[2018-11-11 16:27] dginovker opened #92 "ToS is showing "company_short_name" rather than.. Well the company short name"
As seen here: https://bisq.community/tos

Lines such as: "...you agree to pay company_short_name the monthly or annual subscription fees indicated" are happening.

[2018-11-11 17:22] ManfredKarrer commented on #92
@alexej996 Can you have  a look? Wondering if it is needed to have those tos and how that fit to bisq as OS project? But no hi prio.... friction with legacy world...

[2018-11-11 20:07] alexej996 commented on #92
Oh yeah, that is just there by default. I just left it how it was before I took over the forum.
I have no idea what I could put there, if anything is necessary. Bisq isn't a company, so it is probably best to just remove ToS for the time being.

Alternatively I could try writing a custom ToS, which would claim that all content shared is licensed under GPLv3 or something, otherwise there really ins

[2018-11-11 20:58] alexej996 commented on #92
Edited it a bit, it should be more applicable to us now.

[2018-11-11 21:08] #92 closed, assigned to nobody

[2018-12-11 22:08] aejontargaryen opened #105 "Update bisq/markets to reflect current list of assets"
I'd like to help update this but started tail chasing at a certain point.
has the node running the api for the website been updated to run against current version 0.9.0 ?
I guess I can go ahead an do a PR for the html changes needed from this repo

[2018-12-14 00:40] #105 closed, assigned to nobody

[2018-12-16 08:03] srhii opened #107 "Update API for Markets page to show stats for newly added assets"

[2018-12-18 12:20] #107 closed, assigned to nobody

[2019-01-07 01:12] ManfredKarrer opened #109 "Update fee docs"
The 2 proposals for simplifying the fee model and reducing the maker fee have been approved and PRs are pending and intended to get into the upcoming release (around 8-9.1.2019).
@m52go Could you please update the FAQ (and if the fee model is decribed elsewhere - not aware myself of any other place though).

- Market price based caclulation is removed. Maker fee is now simply 0,1% of trade amount

[2019-01-20 21:39] pedromvpg opened #113 "Markets page not loading all trades by default and currency pairs are not loading on update."
https://bisq.network/markets/?currency=btc_usd

![screen shot 2019-01-20 at 4 27 48 pm](https://user-images.githubusercontent.com/807505/51445325-b3b16200-1cd1-11e9-9cfa-a46af9d94b35.png)

![screen shot 2019-01-20 at 4 38 25 pm](https://user-images.githubusercontent.com/807505/51445348-e52a2d80-1cd1-11e9-8d3d-7f0ab67111da.png)

![screen shot 2019-01-20 at 4 38 35 pm](https://user-images.githubuser

[2019-01-20 21:47] pedromvpg opened #114 "Unable to detect current (active) main nav item"
In bisq-website/_includes/main_nav.html we should be able to print a “current” class if the path matches the url.

![screen shot 2019-01-20 at 4 42 36 pm](https://user-images.githubusercontent.com/807505/51445417-8a450600-1cd2-11e9-9dd1-6d65a8f0db5d.png)

Can we add slashes on bisq-website/_data/main_nav.yml to the end of each link so the comparison matches a result?

[2019-01-21 11:20] ManfredKarrer commented on #113
I will look into it.

[2019-01-21 11:49] ManfredKarrer commented on #113
Fixed, was out of memory issues.

[2019-01-21 11:49] #113 closed, assigned to nobody

[2019-01-21 11:52] ManfredKarrer commented on #114
@m52go I leave that to you

[2019-01-22 02:15] pedromvpg opened #115 "Page should load with "All" and on change, selected pair should be the selected option."
I'm not sure what happened but this used to be working.

When user loads page it should read "All" in the field and "All" should remain as the first option.

After the user selects a different option, the page should refresh and the selected option should be fetch from the URL parameter.

<img width="626" alt="screenshot at jan 21 21-11-28" src="https://user-images.githubusercontent.com/807505/515

[2019-01-22 13:04] m52go commented on #115
Will take a look. I remember this working as well...

[2019-01-25 23:19] m52go commented on #109
Completed with #111.

[2019-01-25 23:19] #109 closed, assigned to m52go

[2019-01-25 23:22] m52go commented on #89
Thanks for reporting. This was fixed through a series of commits by @pedromvpg and #97, #99, and/or #102.

[2019-01-25 23:22] #89 closed, assigned to nobody

[2019-01-25 23:23] m52go commented on #88
Thanks for reporting, closing as complete.

[2019-01-25 23:23] #88 closed, assigned to pedromvpg

[2019-01-25 23:24] m52go commented on #79
Completed with https://github.com/bisq-network/bisq-docs/pull/79.

[2019-01-25 23:24] #79 closed, assigned to ripcurlx, m52go, ManfredKarrer

[2019-01-25 23:28] m52go commented on #80
Completed with #83 and #84.

[2019-01-25 23:28] #80 closed, assigned to ripcurlx, ManfredKarrer, joachimneumann

[2019-01-31 21:52] m52go commented on #115
Fixed with #116.

[2019-01-31 21:52] #115 closed, assigned to nobody

[2019-01-31 21:52] m52go commented on #114
Fixed with #116.

[2019-01-31 21:52] #114 closed, assigned to m52go

[2019-02-04 17:50] m52go opened #249 "Blog topic: why contributors participate"
This is more of a theme than a topic that anyone can write about can write about. We can have multiple people write about it too, perhaps covering how they found out about Bisq, why they decided to contribute, and what keeps them attracted to the project.

[2019-02-04 17:50] m52go opened #250 "Blog topic: why users use Bisq"
This is more of a theme than a topic that anyone can write about can write about. We can have multiple people write about it too, perhaps covering how they found out about Bisq and why they use it.

Anonymous contributions are welcome (anonymous contributions are accepted in general, too, but I figured it especially important to mention it here).

This may get interesting with the release of the A

[2019-02-04 17:51] m52go opened #251 "Blog topic: code is not law"
Bisq is not a protocol like Bitcoin or TCP/IP, but a service run by people for people, using software built by people. The software has protections in place to avoid extreme scenarios, but there will be bugs and attackers, and ultimately the code is more of an expression of intention than it is a final incorruptible almighty law.

While we hope nothing will be catastrophic enough to require it, Bi

[2019-02-04 17:52] m52go opened #252 "Blog topic: the Bisq DAO as an evolution of the social organization"
A vastly underrated factor in the dramatic economic growth, innovation, and resulting lifestyle improvements of the past ~200 years has been the limited liability corporation.

While this legal entity has (and will continue) to power great things, it has limitations.

The Bisq DAO is a model for a new paradigm that enables initiatives to proliferate independent of the state (no state/political app

[2019-02-16 18:02] ITwrx opened #119 "consider using privacy and freedom respecting applications for project communication"
please consider migrating to (or at least offering the alternative of) privacy and freedom respecting communications applications. The proprietary, centralized, data-mining applications currently listed on the bisq website for project communication should be contrary to bisq's goals and desired public image. i understand if the project feels the need to also advertise on establishment platforms, b

[2019-02-17 00:44] ManfredKarrer commented on #119
Agree, its just a question of resources and time....

We are in the process to move to rocketchat.
To get away from Github is also on our roadmap but no resources atm for that.
With regard to social media: We might get rid of any "official" account some day or leave it completely to Bisq uses to run those (like the Telegram group).

[2019-02-17 00:58] ITwrx commented on #119
what are the plans for github migration/what is needed?
re: letting social media be handled by the community: i didn't even think about that. that's not a bad idea as long as there's somewhere to coordinate the marketing operation(like rocketchat).

[2019-02-17 01:01] ManfredKarrer commented on #119
We have not started yet with GH migration as too much else on the table...

[2019-02-17 01:08] ITwrx commented on #119
right, i understood that you hadn't started yet. i was just wondering what resources were needed in case there was some critical bike shedding that needed to be done. :) or maybe something i could help with.

[2019-02-19 03:56] ManfredKarrer commented on #119
Thanks for your offer! Lets get back to that after the DAO launch. Migrating from Github is a serious step which I cannot delegate completely - so I will need to spend some time on it as well and the day only has 24 hours ;-).

[2019-02-21 22:41] devinbileck opened #125 "Use Red Hat or Fedora inspired image for the rpm download item in the dropdown"
Would be nice to have a Red Hat or Fedora inspired image for the rpm download item in the dropdown, rather than using the generic Linux icon:
![image](https://user-images.githubusercontent.com/603793/53206630-58330680-35e6-11e9-99eb-d46b405d0f99.png)

[2019-02-22 19:51] m52go commented on #65
This commenced with https://github.com/bisq-network/bisq-website/pull/118, and Aruna is leading an effort to sustain the effort. Check [this thread](https://bisq.community/t/call-for-blog-writers/7040) as well as the #blogposts channel on Slack for updates.

[2019-02-22 19:51] #65 closed, assigned to nobody

[2019-02-22 19:52] m52go commented on #35
I think it's safe to say this is now complete ;)

[2019-02-22 19:52] #35 closed, assigned to ripcurlx, cbeams, csacher

[2019-02-26 06:52] kopite77 opened #132 "Download link to Source Code doesn't work"
On both the bisq.network homepage and the https://bisq.network/downloads/ page, the "Source Code" download links return a "Not Found" error. These are the links that return the error:
https://github.com/bisq-network/bisq/releases/download/archive/v0.9.4.tar.gz
https://github.com/bisq-network/bisq/releases/download/archive/v0.9.4.zip

Looks like the links should be as follows:
https://github.com/bi

[2019-02-26 07:19] devinbileck commented on #132
Whoops, looks like my recent redirects have an issue. I will fix that.
Thanks for reporting this!

[2019-02-26 13:39] #132 closed, assigned to nobody

[2019-03-02 04:44] JeremyRand opened #136 ".deb package should be clearly labeled as amd64-specific"
I tried to download the `.deb` package linked from https://bisq.network/downloads/ , since it was labeled as "Debian/Ubuntu" and I'm running Debian.  Unfortunately, I then discovered upon trying to install it that the package is for `amd64` architecture only, which posed a problem since I'm running on `ppc64le` architecture.  Clearly labeling the download would have saved me some trouble.

[2019-03-07 02:46] nihirisuto opened #139 "Long sat values on trades (ie: .00000004) show up abbreviated. Is this by design?"
See screenshot. I think this is confusing personally.
<img width="1136" alt="screen shot 2019-03-06 at 6 43 06 pm" src="https://user-images.githubusercontent.com/32186637/53928754-1a9b9800-4040-11e9-8613-d6ceb025d114.png">

[2019-03-07 08:28] ghost commented on #139
You are right, it should be 4x1e-8.
Or 5x1e-8 right now.

[2019-03-07 16:56] m52go commented on #139
@chris-larsen thanks for pointing this out. It's not by design. Fix incoming.

[2019-03-07 17:04] m52go commented on #139
Merged, closing. Let us know if you still see issues.

[2019-03-07 17:04] #139 closed, assigned to nobody

[2019-03-12 11:10] ghost opened #146 "update market screen at https://bisq.network/"
The screen copy of the Bisq appli at https://bisq.network/ is quite old.
BTC/USD was at 9236.50 at the time (!)
Some newcomers may believe that the appli is not up-to-date.

[2019-03-12 20:18] m52go commented on #146
I see your concern but I don't think it's something we need to worry about.

While the past couple of months have been pretty flat, BTC price is generally volatile, and I'm not sure we should commit to keeping that screenshot current (with respect to bitcoin price).

Another thing to keep in mind is that every new image we add to the repository forever enlarges the size of the whole repository, so

[2019-03-14 14:54] #146 closed, assigned to nobody

[2019-03-14 14:58] m52go opened #147 "Create stats page on website"
To give people an idea of network activity without having to wade into the spreadsheet.

Proposed metrics:
- overall volume
- fees
- bsq price + supply
- commits (?)
- number of contributors (?)

Anyone with ideas on which metrics should or shouldn't be included, please add.

[2019-03-15 22:02] huey735 commented on #147
I think that it'd be useful to also have a table/spreadsheet of the cost of a trade on Bisq:
* the trading fee for makers and takers
* the security deposit for makers (not necessary since it's not set in stone but rather set by the offer
maker)
* nº of on chain transactions needed to finalize the trade for which the maker and taker are responsible for

[2019-03-15 23:52] ManfredKarrer commented on #147
Trade fee for maker is 0.1% and for taker 0.3%.
Sellers security deposit is 0.5% of trade amount and buyers deposit default 2% but can be changed by maker.
The maker pays 1 times the miner fee for the maker fee tx. For the other 3 txs (taker fee tx, deposit tx and payout tx) the taker pays the miner fee.

I think that should be in the FAQ (I think it is but not sure if updated) but not subject to

[2019-03-16 12:10] huey735 commented on #147
@ManfredKarrer I think you meant offer-makers and offer-takers instead of sellers and buyers. We probably should promote this vocabulary instead. I think it's less confusing to understand from one's point of view if one's taking an existing offer or making a new one. On the other side it's easy to confuse whether one's buying or selling, because in any trade we're both buying and selling something

[2019-03-16 17:33] ManfredKarrer commented on #147
@huey735
No it is the security deposit for the buyer and for the seller. The maker or taker aspect is irrelevant. I know it is a bit confusing as the maker if he is the buyer he sets the desposit for himself.
The reasoning behind making the buyers security deposit adjustable is because only the buyer can "bail out" of the trade by not starting the fiat or altcoin payment. If price moves against hi

[2019-03-16 17:35] ManfredKarrer commented on #147
Regaring the account age:
For altcoins there is no account age, so you can trade 2 BTC from the beginning.
For fiat payment methods it depends on the payment methods chargback risk and there are 2 month until you get the full trade limit. First month 25%, second month 50%, and then 100% of the defined trade limit.

[2019-03-17 12:05] huey735 commented on #147
@ManfredKarrer you're right. This values regarding the trade don't seem to belong here in the Stats. I'd like your help understanding it better however over at https://bisq.community/t/clarification-on-fees-and-security-deposits/7234/6?u=huey

[2019-03-22 13:04] arunasurya commented on #147
I assume you want to have these stats since the start of Bisq in April 2016? For the contributors, we have data since December 2017 but it would be nice to see that as well. Perhaps, a breakdown of contributors by roles? Maybe have two subparts: Bisq metrics and DAO metrics?

[2019-04-16 22:45] ManfredKarrer opened #166 "Markets page price wrong"
The displayed altcoin price seems to be inverted.
<img width="2064" alt="Screen Shot 2019-04-16 at 17 43 57" src="https://user-images.githubusercontent.com/1449498/56248879-64c85e00-606f-11e9-8726-9eb384125e26.png">

[2019-04-16 22:46] ManfredKarrer commented on #166
As I assume https://coinmarketcap.com/exchanges/bisq/ uses the same API it seems an issue on the webpage side not on the markets server.

[2019-04-17 02:29] ManfredKarrer opened #167 "BSQ not in currency list in markets page"
BSQ does not appear in currency list in markets page. Markets server is updated and API should deliver it.

[2019-04-17 13:25] #167 closed, assigned to nobody

[2019-04-17 13:26] m52go commented on #147
Completed with https://github.com/bisq-network/bisq-website/pull/156. Closing.

[2019-04-17 13:26] #147 closed, assigned to nobody

[2019-04-17 13:29] m52go commented on #166
Yes this has been an issue for a while, but when I investigated earlier, fix was not trivial so I put it off. Will look at this week.

[2019-04-17 13:33] m52go commented on #43
Donation address is no longer relevant. Closing.

[2019-04-17 13:33] #43 closed, assigned to nobody

[2019-04-17 13:47] m52go commented on #40
The site has been thoroughly overhauled since this issue was created. The video in question was removed.

Generally speaking I think Flash is all but buried now, but to be sure, I accessed [a page with an embedded YouTube video](https://bisq.network/blog/bisq-dao-for-bitcoin-maximalists/) on the Tor browser in high-security mode and there was no prompt to install Flash. Vimeo videos are no longer

[2019-04-17 13:47] #40 closed, assigned to cbeams

[2019-04-17 19:04] ManfredKarrer commented on #166
I think price is inverted atm. 1 / price is probably correct. If still not then it might be precision. Fiat has precision 4 and altcoins 8.

[2019-04-25 09:30] arunasurya opened #173 "Make website translatable"
We would like to start translating certain Bisq pages which may help greatly with growing our user base. We need main pages to be translatable to start our work.

[2019-04-25 15:47] m52go commented on #173
Which parts of the website do we want to target first? How many languages?

Is it possible to tackle translations one component at a time? Example: want to add Portuguese and Spanish. Is there a way to get both translations for the front page, and then get both translations for the Vision page, and so on?

[2019-04-25 17:26] huey735 commented on #173
We should start from the most superficial to the most technical. I think the Home page, Downloads, FAQ and Getting Started Documentation are the priority. Do you have stats on what pages get more visit? That'd be another criteria to go by.
We could go by the finished translations for the software on Transifex, which would give us Russian, German and Portuguese.

[2019-04-29 14:08] arunasurya commented on #173
I think we need to have a call so that the writers, translators, ambassadors and anyone who is involved in growing the network can share their views. One of the contributors has already started translating some pages into Spanish, so we should include Spanish as well. Someone else suggested translating Getting Started Documentation, so maybe we can start with that and the Home Page, as @huey735 su

[2019-04-30 14:01] arunasurya commented on #173
I have spoken to @ripcurlx about this, and he suggested that we tackle the issue on several fronts:
- Design: @pedromvpg may need to be involved to make changes in the design to accommodate for the translations.
- Implementation: changes will need to be made in page format for certain languages, and we need to figure out how to connect them with Transifex.
- Content: we need to decide which pages

[2019-05-01 11:29] MwithM commented on #173
Hello, I'm one of the Spanish translators.
I think that the documents that @huey735 has suggested are the main focus we should have.
Maybe there's very little need of translating most technical documents, because devs are usually English fluent speakers.
Knowing what users pay more attention when navigating Bisq page can be helpful to decide where should we begin with.

[2019-05-01 12:10] ArnaudFR86 commented on #173
Hello, I have just complete the first stage of the French Translation, I translated most of the terms but some are still in English yet, in particular those having a "path" for files nagivations/menu. and for others words, like "seed" and "peers", or taker and maker. Sometimes in French we use the English word, like we use "blockchain" and "peer to peer" or even "burn" like  in the sentence "faire

[2019-05-02 12:48] m52go opened #175 "Fix dropdown styling quirk on tor browser"
The download dropdown styling is buggy on the Tor browser:

![Screenshot from 2019-05-02 08-48-15](https://user-images.githubusercontent.com/735155/57076208-134ae080-6cb7-11e9-828c-979cd74d6442.png)

[2019-05-02 12:48] m52go commented on #136
@devinbileck can this simply be solved by putting `amd64` in the filename?

[2019-05-02 13:46] ghost commented on #175
Hello @m52go
I just verified with pure Firefox on Debian, and I have the exact same picture.
So I would say that it seems related to Firefox.

[2019-05-02 13:51] m52go commented on #175
Pure Firefox on Ubuntu did not show the problem for me...strange.

[2019-05-02 17:49] devinbileck commented on #136
Yes, I think that is a good idea. Rather than simply 64bit in the filename, we could change it to amd64. Or I would suggest the more common term these days, x64.
Perhaps @ripcurlx can update the release scripts since he will be running them shortly? ;)

Additionally, perhaps the website should be updated to indicate this as well?

[2019-05-02 17:58] ghost commented on #136
There is amd64 and arm64.
x64 could mean it's for both (which is not the case).

[2019-05-02 18:02] ripcurlx commented on #136
As I'll create a release in the next couple of hours, let's move this change to the next release.

[2019-05-02 18:11] devinbileck commented on #136
That is a valid point. Typically x64 refers specifically to x86-64, which is also known as the generic branded term amd64.

Unfortunately there is no consistency in the industry as to which term is used. From the x86-64 wikipedia page:
![image](https://user-images.githubusercontent.com/603793/57096702-bce79d00-6cca-11e9-98ea-63f4b2fca8ed.png)

[2019-05-02 23:16] m52go commented on #249
For the record, arunasurya wrote a post on this topic. More welcome.

https://github.com/bisq-network/bisq-website/pull/161

[2019-05-03 00:23] Mycelial1 commented on #249
I think it'd be really cool to see a lot of different contributors write a post on this subject.

[2019-05-03 02:49] m52go commented on #175
@HarryMacfinned @arunasurya should be fixed now. Please let me know if it's not. I can't test on Debian with Firefox but the problem is gone for me in the Tor browser on Ubuntu where I previously reproduced it.

[2019-05-03 02:49] #175 closed, assigned to nobody

[2019-05-03 10:30] arunasurya commented on #175
Looks good for me, @m52go :). Thanks!

[2019-05-03 11:04] ghost commented on #175
Looks also good for me. Thanks.

[2019-05-03 11:49] goo-technology commented on #173
Hello, i have main page, vision and dao sections already translated to spanish and this week i will finish the faq.

I have it all in a Google docs folder if needed to share with other spanish translators

Also i made two small slideshows with the whole page info in spanish if somebody need it

[2019-05-03 15:21] arunasurya commented on #173
@goo-technology , great! We can talk about it on the call, and see how we can integrate it into Transifex!

By the way, our first call is scheduled on [May 7th, at 13 CET](https://github.com/bisq-network/growth/issues/129). It would be great if someone from the developer team joins the call as well.

[2019-05-03 15:23] ghost commented on #136
Debian still uses the amd64 , arm64 terminology
https://www.debian.org/CD/http-ftp/

[2019-05-03 16:51] criptonauta commented on #173
Hi

I have the same as @goo-technology but in Brazilian Portuguese (Home, Vision, working on FAQ page)

The most important non technical pages are Home, Vision and FAQ. The remaining pages are somewhat easy to be translated, considering they have less text and more images.

Getting Started is also important, but it is a different section (documentation) in a wiki like structure. IMO, the wiki shou

[2019-05-06 19:37] Mycelial1 opened #178 "Blog Topic: MimbleWimble Coins and Bisq"
BSQ requested: 100

Whenever we can test and relist Grin, we can write a how-to blog post on trading mimblewimble coins on Bisq using the updated [wallet713](https://github.com/vault713/wallet713/pull/88) (includes payment verification feature) and [Grinbox](https://github.com/vault713/grinbox).

I was thinking this piece can be written in anticipation of a Grin-fork airdrop to Bitcoin holders cal

[2019-05-06 19:58] Mycelial1 opened #179 "Blog topic: What is a Bisq Liquidity Week?"
BSQ requested: 50
This can be a small writeup describing what a Bisq liquidity week looks like with a call-to-action to participate somewhere in the blog post.

The body can consist of something along the lines of:

What is a Bisq liquidity week?
Past liquidity week successes.
Why we have liquidity weeks.

[2019-05-06 20:35] Mycelial1 opened #180 "Blog Topic: How Bisq can help Venezuelans buy Bitcoin"
BSQ requested: 50

Venezuelan volume on LocalBitcoins is [quite large and growing](https://coin.dance/volume/localbitcoins/VES)

This piece can be a small writeup about how beneficial Bisq could be to Venezuelans suffering from hyperinflation and privacy concerns.

Some headers can be:

LocalBitcoin Volume in Venezuela is Growing Quickly
Problems with KYC on LocalBitcoins
Bisq Offers More Privacy

[2019-05-07 05:22] ghost commented on #180
Nice idea. Thanks for that.

[2019-05-09 07:39] arunasurya commented on #173
The recording of the translator call is now available on [YouTube](https://www.youtube.com/watch?v=nAE0EdojliQ&list=PLFH5SztL5cYPPMIBM22SbqrJ01AXTeVY_). Here is a quick summary of the call, regarding translating the Bisq site.

## Bisq pages we are going to translate:
- Home page
- Vision
- Bisq DAO
- Statistics
- FAQ
- Markets
- Getting Started with Bisq (documentation)
- Downloads

## Languages

[2019-05-09 10:24] MwithM commented on #173
@goo-technology Great news. Could you please share the doc?

I'm looking forward to see these website pages ready to be translated on transifex.

[2019-05-10 20:20] Mycelial1 commented on #180
I have a rough draft created here: https://docs.google.com/document/d/1ZYyIfrYrKolTWAMgyf_UcH5yfXTSYwE9GWzBsUu2sOM/edit?usp=sharing

[2019-05-13 14:01] m52go commented on #180
@Mycelial1 is there a chance you could make that draft public, so people can review it without having to request access?

[2019-05-13 14:23] Mycelial1 commented on #180
@m52go  Yes. Try now.

[2019-05-14 14:13] m52go commented on #180
@Mycelial1 pretty good I think. Couple of comments...how should I provide? I can't comment on the doc.

[2019-05-14 14:42] Mycelial1 commented on #180
@m52go Next blog post, I will make a pull request like Manfred did for his "Let the DAO work" post.  You can try to comment the doc now.

[2019-05-14 17:24] mpolavieja opened #182 "Blog Topic: What´s Bitcoin source of value"
Hi all,

I suggest the following final draft for a Bisq blog post:

https://docs.google.com/document/d/1G5G_6JgaZraNURyjVYPE1XckfzIUZ_DB_A8eaIzn4Io/edit?usp=sharing

It is only related to Bisq in the sense it is related to Bitcoin, but not specific of Bisq at all.  I just thought to offer publishing on Bisq instead of my personal blog, but I am totally ok if you feel it should not be published her

[2019-05-14 17:39] Mycelial1 commented on #182
Thanks. Will take a look and give feedback when I have a second. If you haven't already, you can join the slack channel (bisq.slack.com) and join the #blogposts channel to stay in touch.

[2019-05-14 20:02] ManfredKarrer commented on #182
Great article!

[2019-05-17 18:32] Mycelial1 commented on #182
@mpolavieja I've made some edits and suggestions if you would like to review them.

[2019-05-17 21:54] mpolavieja commented on #182
Thank you very much.  I have accepted all suggestions except one which I am not sure.  If you still think it stands I´ll accept it too.   I think I have to work a bit the conclusion and then it could be ready for publishing.  I expect to do that tomorrow.

[2019-06-03 05:44] sgornick opened #184 "Network Statistics (/stats) is not updated, shows "As of March 2019" yet"
https://bisq.network/stats/

E.g., OVERALL VOLUME shows:
As of March 2019
and even then, the last datapoint is Feb 2019.
This is observed on June 3rd, 2019.

[2019-06-03 12:25] m52go commented on #184
Yes, this will be updated today when I file my report for website maintainer.

[2019-06-03 12:25] #184 closed, assigned to nobody

[2019-06-05 16:09] huey735 commented on #173
I've uploaded some files to Transifex so we can start testing the process of translation of the website - https://www.transifex.com/bisq/bisq-website/content/.

For those of you who have started to translate the homepage_content.html file, please copy your translations to the strings.yml resource. That file contains all strings in the homepage_content.html file and more, making homepage_content.ht

[2019-06-07 21:25] huey735 commented on #125
@devinbileck what do you think of this?

![redhat-g](https://user-images.githubusercontent.com/44140017/59134448-21a1b180-8973-11e9-88a8-fed4916d19e3.jpg)

[2019-06-07 23:55] devinbileck commented on #125
Not bad. But perhaps should take inspiration from their new simplified icon with just the hat?
![image](https://user-images.githubusercontent.com/603793/59138955-ea1c1080-8944-11e9-96ca-4b661f540b70.png)

[2019-06-07 23:59] devinbileck commented on #125
Also, perhaps we should redo the Ubuntu icon as a Debian icon so as to represent the base distro from which Ubuntu is based on (or other distros that are based on it). For example, taking inspiration from:
![image](https://user-images.githubusercontent.com/603793/59139002-323b3300-8945-11e9-9265-8b4bcfa79a42.png)

And while we are at it, may want to do an Arch icon based on:
![image](https://user-

[2019-06-08 03:31] huey735 commented on #125
Take a look. I prefer Ubuntu's logo over Debian's as the positive-negative space are more balanced.
![linux-distros-2](https://user-images.githubusercontent.com/44140017/59141519-25026080-89a6-11e9-8ac7-8151df439bfd.png)

[2019-06-09 06:45] devinbileck commented on #125
Looks good!
I do agree regarding the positive-negative space. However, I like the idea of using Debian for consistency as the base distro. Although, I suppose we could use Ubuntu and switch to the Fedora logo for the most "popular" distros that use those packages?

[2019-06-11 13:22] huey735 commented on #125
I blended the dark and light blue of the original logo to limit the color scheme to only two colors.
![fedora](https://user-images.githubusercontent.com/44140017/59275399-26f14b80-8c54-11e9-8a2a-5d2fbfa51c8a.png)

[2019-06-11 18:19] devinbileck commented on #125
Looks good to me!

[2019-06-11 18:23] m52go commented on #125
Is the Fedora logo a different shade of green than the icons above it? It looks lighter.

@huey735 would you like to make a pull request? Otherwise feel free to post the icon files here and I can take care of it.

[2019-06-11 21:52] huey735 commented on #125
@m52go Thanks for the color comment. I fixed it and went ahead and made a pull request.

[2019-06-12 15:55] huey735 commented on #173
I'm thinking of adding the "Community" page to this phase of translation. It has very little content to translate and it completes the in-site pages.

[2019-06-13 10:39] arunasurya commented on #173
@huey735 , great idea! Perhaps we can even add more info for specific languages such as Portuguese translations of the Bisq DAO in brief series or ambassador activities in certain Spanish-speaking countries?

[2019-06-18 16:29] arunasurya commented on #173
Here is a brief summary of the project, based on the second translator call:
- @huey735 is the owner of the part of the project that deals with transferring files to Transifex and translations to the Bisq website. This is a manual process.
- We now have the `bisq-website` project in Transifex where some of the files are available, and have already been translated into several core languages.
- The

[2019-07-02 12:34] erciccione opened #191 "[Proposal] Get rid of google analytics"
I think Google Analytics could be replaced with another more privacy-friendly service. For getmonero.org we use [Matomo](https://matomo.org/), which is self-hosted and open source. I think the bisq users would appreciate the switch :)

[2019-07-08 16:34] m52go commented on #182
Closing as complete, as this post was merged with https://github.com/bisq-network/bisq-website/pull/188.

[2019-07-08 16:34] #182 closed, assigned to nobody

[2019-07-08 16:35] m52go commented on #166
Closing as complete, as this issue was fixed with #171.

[2019-07-08 16:35] #166 closed, assigned to nobody

[2019-07-19 17:21] huey735 opened #196 "The website is using the wrong images in the pt-PT DAO page"
For some reason that is beyond my understanding of Jekyll, the website served by Github is using the wrong images.

There is:
~/images/DAO/
- dao_benefits.svg
- dao_how.svg
- dao_intro.svg
- dao_what.svg
- dao_why.svg
and
~/pt-PT/images/DAO/
- dao_benefits.svg
- dao_how.svg
- dao_intro.svg
- dao_what.svg
- dao_why.svg

These folders contain the images rendered in bisq.network/dao and bisq.network/

[2019-07-20 11:13] huey735 commented on #196
I have a copy of the website running on huey735.github.io where the only difference I can see is
url: "https://huey735.github.io"
On ~/_config.yml

And it renders the urls as pt-PT, as it should, and it fetches the correct images.

[2019-08-06 21:27] m52go commented on #196
Fixed with #201.

[2019-08-06 21:27] #196 closed, assigned to nobody

[2019-08-06 21:28] m52go commented on #78
Superceded by https://github.com/bisq-network/bisq-docs/issues/80. Closing.

[2019-08-06 21:28] #78 closed, assigned to ripcurlx, m52go, ManfredKarrer

[2019-08-18 05:35] wiz commented on #191
Yes, we should absolutely dump Google. I currently run Piwik / Matomo for some Bitcoin projects like bitcoin-only.com and it works very well as a self-hosted solution. I would be happy to run a Matomo instance for Bisq as well.

[2019-08-22 03:15] m52go commented on #173
This was completed with #190 (primarily), with small bugs fixed with #197 and #201.

Since then Chinese, German, and Spanish have been added. Big thanks to @huey735!

[2019-08-22 03:15] #173 closed, assigned to nobody

[2019-08-22 13:25] huey735 opened #207 "[Proposal] Translate Bisq software images in the homepage"
To add to the translation of the website, we can also translate the images of the software in the homepage. I'm thinking of using screenshots of the USD market as a standard for every language. What do you think? @m52go @mpolavieja
Bellow is the comparison of the current images in the website and their current form in the software in English

### Trades
![bisq_screen1](https://user-images.githubus

[2019-08-22 13:31] m52go commented on #207
@huey735 should be ok, but I wonder if the new images are too complex. It looks like the old images are mockups of the UI, instead of screenshots of the actual UI, so they seem to hide some of the real UI's perceived complexity (e.g., small numbers, lots of rows, etc).

[2019-08-22 13:55] huey735 commented on #207
Yes, @m52go the original images are easier on the eyes but I don't think the new are too 'busy'.
And I can't render the images in the same resolution as the originals. I hope it's ok
orginal - 2400 x 1378
new - 1566 x 899

[2019-08-22 16:01] #191 closed, assigned to wiz

[2019-08-22 16:02] erciccione commented on #191
Nice. Thank you :)

[2019-08-22 16:06] wiz commented on #191
Yeah also on the Matomo side I have symlinked the access log to /dev/null and we will obfuscate visitor IP addresses so for example 1.2.3.X gets logged instead of 1.2.3.4

[2019-08-22 16:10] wiz commented on #191
<img width="417" alt="Screen Shot 2019-08-23 at 1 10 16" src="https://user-images.githubusercontent.com/232186/63531128-cd09dd80-c542-11e9-9fe2-93b0059c6f84.png">

[2019-08-23 17:12] m52go commented on #207
Wow, I could only get 1200 × 747 and I'm on a pretty big 4k monitor. Weird. Anyway yeah maybe try it and see how it looks? It might not be a big deal after all.

[2019-08-31 18:11] ghbjklhv1 opened #224 "[Feature] Torrent Downloads"
**Feature**: Support BitTorrent for file downloads

- [x] Anonymous Download
Related: https://xd-torrent.github.io/
- [x] Free/Libre Clients ([exist](https://directory.fsf.org/wiki?search=BitTorrent))
- [x] File Verification
https://stackoverflow.com/questions/35549004/does-bittorrent-verify-files-integrity

You can also verify that everybody got the same file, as long as the .torrent files are al

[2019-09-05 23:58] m52go commented on #125
This was taken care of with #189. Closing as complete.

[2019-09-05 23:58] #125 closed, assigned to pedromvpg

[2019-09-06 14:44] m52go commented on #207
@huey735 would you like to take care of this? #230 makes it straightforward...just replace the placeholders referenced there with localized screenshots.

[2019-09-06 17:06] huey735 commented on #207
@m52go I got 1566 x 899 screenshots if full view which is kind of ugly as it adds to many rows and I feel like unbalances the picture. At Bisq's default size I get 1200 × 747, 1200 × 680 when I remove the top and bottom info bars.

These are what mine look compare @wiz's who's rendering them close to the current resolution. I've chosen to render them all for the USD market to keep consistency.

![

[2019-09-06 18:28] wiz commented on #207
Oh, I didn't know you had an issue for this, yeah I actually increased the size of the top main navigation strings in the Bisq app for Japanese locale in preparation for taking the screenshot on bisq.network/ja since I wanted to polish it up a bit. Let me know if you need help taking sexy localized screenshots for the homepage.

[2019-09-08 15:40] huey735 commented on #207
@wiz I'd pretty much appreciate your sexy screenshots.
Can we agree on a standard? For simplicity and cohesion I was thinking of taking screenshots for the USD market for all markets. And we'd exclude the top and bottom info bars from the screenshot.
You've excluded the navbar from your bisq_screen1.png. I'd prefer it back.

[2019-09-08 22:44] wiz commented on #207
@huey735 The goal here is not mere translation, but complete localization. Let me explain:

Localization is an art, of much more than just translating content, it is the process of completely adapting and optimizing UI/UX for the intended target audience of users. It's usually done by an expert of that locality who knows what users will expect and how they will behave. For example, for users in Ja

[2019-09-11 18:10] m52go commented on #74
It seems like the opening post is referring to documentation:

Documentation can certainly use a search function, and ways to accomplish it are being discussed in https://github.com/bisq-network/bisq-docs/issues/131.

[2019-09-11 18:10] #74 closed, assigned to nobody

[2019-09-12 04:07] m52go commented on #224
@ghbjklhv1 I think it's a good idea, but is there an automated way to do this when binaries are uploaded to GitHub at the time of a new release?

If not, it might be best to leave this to the community. I don't think there would be an issue with providing magnet links or torrent file links or whatever is needed to make it work on the Downloads page, if someone one like to do provide such links, bu

[2019-09-12 09:05] erciccione commented on #224
Agree with @m52go here and i want to add that Torrents are cool but require centralization (even if their authenticity can be verified, somebody has to host the torrent itself) and i don't see a clear benefit in in adding them unless bisq's servers are overflawed with download requests, and i think that's not the case.

[2019-09-13 14:20] m52go commented on #224
Closing this -- the idea is good but it's not a high enough priority for us to devote resources to.

[2019-09-13 14:20] #224 closed, assigned to nobody

[2019-09-15 12:38] erciccione opened #244 "Change localization process"
This is something we briefly discussed in the past days. The way the website is translated now is a beginning, but not optimal. Some translations are in html files, other in yml and some sections need to be updated for each language. That makes working on translations hard and unmaintainable in the mid-long term.

As i suggested in past i think we should implement a better workflow. I think using

[2019-09-15 19:56] wiz commented on #244
Does this plugin support country-specific locales?

[2019-09-15 23:44] ifarnung opened #246 "Help creating a pull request: Updating Fee info on the FAQ"
Current old outdated fee information:
"Trading fees
Offer makers pay 0.1% of the trade amount, and offer takers pay 0.3% of the trade amount. The minimum in both cases is 0.00005 BTC to avoid dust limits. Fees paid with BSQ can be as much as 90% lower."

Based on info received from m52go:
![fee-increases-cycle-4](https://user-images.githubusercontent.com/55181240/64929191-8058b000-d82b-11e9-9f6c-6

[2019-09-15 23:51] wiz commented on #246
Fixed in #245

[2019-09-15 23:52] m52go commented on #246
@wiz this issue is for the FAQ section of the website, whereas 245 was for the blog post. This issue is still relevant.

[2019-09-15 23:52] wiz commented on #246
Oh, right. How about we make a text table there then?

[2019-09-15 23:55] m52go commented on #246
Yeah a table makes sense. Then it can simply be:

[code]

[2019-09-15 23:56] wiz commented on #246
Feel free to assign this to me, but I might not get to it for a few days

[2019-09-15 23:57] m52go commented on #246
I can knock it out...unless you would like to, @ifarnung. Thanks for raising this point regardless.

[2019-09-16 00:00] m52go commented on #244
@erciccione this could be very good, I think, as long as:
1. you think the effort is worth it...it seems like translations are a bit of a mess to maintain regardless, and changing the localization process probably only makes sense if it's significantly better than what we have now.
2. this plugin can be made to accept locales, as we discussed in #243. I know you're not a fan of that direction, but

[2019-09-16 07:51] erciccione commented on #244
The plugin doesn't care. It only changes the structure, we can use any language/locale we want. To clarify: My intention is not to revert or ignore the consensus reached in #243. A collective decision is law in an open source project, even if i was against it.

If there is an interplanetary truth, is that translations are a mess to maintain :), but as i briefly explained, i think this plugin is re

[2019-09-16 12:45] m52go commented on #244
Great, I figured that, but just wanted to make sure. Assigned this issue to you :)

[2019-09-18 15:58] m52go commented on #252
First post in series was covered with #149.

[2019-09-18 16:04] ghost commented on #251
Law is, as its roots, nothing else than an expression of intention.
And it's not rare to have results at 180° of intentions.
imo code is law, ie with the same kind of flaws.

[2019-09-18 16:14] m52go commented on #251
@HarryMacfinned I guess I meant "law" in a more simplistic way, more like a figure of speech, wherein "law" is thought to be an immutable construct with no ambiguity.

Practically, you're right, that's not at all the case. In Szabo's terms, law is very much "wet code".

I will note this in the post.

[2019-09-26 04:47] m52go commented on #246
Closing as complete.

[2019-09-26 04:47] #246 closed, assigned to m52go

[2019-09-28 10:15] erciccione opened #261 "[Proposal] Do not directly deploy master, use a branch instead"
At the moment this repository gets automatically deployed to `bisq.network` as soon as a PR is merged. This could lead to some issues:

- A commit needs to be reverted for some reason right after it was merged. This will cause the end user to see the change online, only to have it disappear right after
- It's not possible to make procedural PRs. This makes working on big changes more difficult, si

[2019-09-29 13:43] wiz commented on #207
@huey735 hey buddy, did you still want to do this? 😅

[2019-10-02 20:35] m52go opened #264 "Remove localhost links"
There are several references to localhost, which is causing broken links.

https://github.com/bisq-network/bisq-website/search?q=%22localhost%3A4001%22&unscoped_q=%22localhost%3A4001%22

[2019-10-03 09:24] erciccione commented on #264
The additional issues is that the link is hardcoded in the LANG.yml files for all languages. We have `localhost` showing in some Spanish and German pages, but for the other languages we have the value that was originally in the `en.yml`, so basically a link to the English section of the website.
https://github.com/bisq-network/bisq-website/blob/master/_data/ja.yml#L56

IMO there are 2 ways to fix

[2019-10-17 20:49] m52go commented on #264
Fixed with #266.

[2019-10-17 20:49] #264 closed, assigned to nobody

[2019-10-20 08:56] erciccione commented on #244
I'm not interested in working on this anymore. See https://github.com/bisq-network/bisq-website/pull/260#issuecomment-539960325.

[2019-10-20 10:20] erciccione commented on #261
Nobody seems to be interested in implementing or discussing this proposal. Closing.

[2019-10-20 10:20] #261 closed, assigned to nobody

[2019-10-20 10:34] erciccione commented on #244
On a second thought, i think it's better to reopen this issue. This repo is still in a very bad shape and if new languages are added with the current system, they will only make the repository heavier and more messed up than it already is. A refactor is very needed and somebody else could be willing to pick up this task.

[2019-10-22 05:28] gilsanjuan commented on #207
Hey guys I can help with this task @wiz

[2019-10-22 05:52] m52go commented on #207
@gilsanjuan sure, why not. Can re-assign this to you if you'd like to knock it out.

[2019-10-22 09:10] m52go opened #269 "Blog topic: v1.2 release - new trade protocol and account signing"

[2019-10-25 04:52] gilsanjuan commented on #207
Hey guys, I made render on Sketch, I mixed current home image with current Bisq UI,  tell me what do you thing?

SVG file here -> https://drive.google.com/file/d/1vxlSizSE1uQEAq50Nx7jisQtGAvuSbA9/view?usp=sharing

![Bisq UI EN](https://user-images.githubusercontent.com/4778093/67543927-244e3a80-f6b9-11e9-8c3f-ae5285943cbe.png)

[2019-11-05 16:31] m52go commented on #269
Done with #271. Closing.

[2019-11-05 16:31] #269 closed, assigned to m52go

[2019-11-05 18:35] m52go commented on #207
Completed with #278.

[2019-11-05 18:35] #207 closed, assigned to gilsanjuan

[2019-11-26 23:53] m52go opened #295 "Fix fonts in front page screenshots"
Some browsers are rendering the SVG images on the front page with system/browser defaults, and it's ugly.

If (for whatever reason) the solution isn't straightforward, we should go back to PNG files.

EDIT: also address spacing, i.e. "BT C".

<img width="1247" alt="Screen Shot 2019-11-25 at 21 25 19" src="https://user-images.githubusercontent.com/735155/69681959-b6c26f00-10a7-11ea-9f6b-68b952fe4cb

[2019-11-28 17:27] m52go commented on #295
Closing as complete.

[2019-11-28 17:27] #295 closed, assigned to nobody

[2019-11-28 17:58] m52go opened #305 "Improve and document translation workflow"
Doing new translations is unnecessarily hard for contributors and reviewers.

There are multiple steps that need to be clarified and verified:

1. strings are continually updated in Transifex...it doesn't seem this process is currently automated.
2. translators regularly update those strings (perhaps we assign a point-person for each language so someone is responsible).
3. process for doing a new

[2019-12-06 01:28] pedromvpg opened #310 "Remove country icons from language selector"
In general is not a good practice to include flags in language selectors, there are a lot more countries that use the Spanish or French language besides France or Spain. Also it looks really colorful and off-brand.

I recommend removing them. It will also save some space in an already over populated navigation.

Short form is very much understood worldwide.

![Current](https://user-images.githubus

[2019-12-06 01:32] pedromvpg opened #311 "Remove negative left margin from headers in homepage"
Its time to remove the negative margin and standardize the website layout.
It was a stylistic move that had no meaning and did not improve the experience.

A lot of people got confused with it.

[code]

<img width="1726" alt="Screen Shot 2019-12-05 at 8 29 04 PM" src="https://user-images.githubusercontent.com/807505/70287824-54035e80-179e-11ea-8eeb-3f7ae1806283.png">
<img width="1726" alt="Screen

[2019-12-06 01:42] pedromvpg commented on #310
We should also try to make the whole element clickable, not just the type/text.

[2019-12-06 09:34] erciccione commented on #310
This was already pointed out in #243, but as you can see from that PR, the Bisq team prefer to use flags (for reasons i disagree with).

[2019-12-09 17:58] m52go commented on #310
As explained in [this comment](https://github.com/bisq-network/bisq-website/pull/243#issuecomment-530531060), the motivation was to have some way to communicate region-specific content.

Upon thinking about this over again, maybe we can accomplish this by simply adding the region-specific content for the translations it most likely applies to. For example, payment methods specific to Mexico and Sp

[2019-12-12 21:04] m52go commented on #311
Done with #314.

[2019-12-12 21:04] #311 closed, assigned to nobody

[2019-12-12 21:07] m52go commented on #305
Had a call about this today with arunasurya and FKrauss. We'll use the upcoming Russian translation of the website as a test for the current not-well-documented translation process, fill in the holes, and then make a formal addition with complete details to documentation.

[2019-12-19 09:31] ripcurlx opened #317 "Download page (https://bisq.network/downloads/) has a bad link to "PGP Signatures.""
@dscotese commented on [Wed Aug 14 2019](https://github.com/bisq-network/bisq/issues/3083)

The "PGP Signatures" entry on the download page (https://bisq.network/downloads/) ends up providing the Release Notes instead of the folder containing the signatures.  I found the file I needed (https://bisq.network/downloads/v1.1.5/Bisq-64bit-1.1.5.exe.asc) by simply guessing that adding the .asc to the en

[2019-12-20 11:39] RiccardoMasutti commented on #317
I agree with you. Let me propose a PR

[2020-01-09 12:42] m-rey opened #326 "Add openSUSE to the rpm package download label"
At the moment, the rpm package is [listed as the download option](https://bisq.network/downloads/)  for Red Hat/Fedora. This can also be seen on download drop-down menu of the main page.
I would propose to add openSUSE to that entry, as it also uses rpm packages and is a [popular distribution](https://distrowatch.com/table.php?distribution=opensuse).

[2020-01-27 05:26] m52go commented on #326
Appreciate the thought, but if we started to list the full array of distros that can install RPMs and DEBs...we'd run out of space. Along with Red Hat and Fedora are SUSE OSes and CentOS. And there are a ton of popular distros that are based on Debian.

I think Linux users are smart enough to know when they need a .deb or .rpm or something else, so this isn't strictly needed.

[2020-01-27 05:26] #326 closed, assigned to nobody

[2020-01-27 19:08] #317 closed, assigned to nobody

[2020-01-31 13:07] FKrauss opened #355 "Experiment on changing the Bisq landing page"
## Learning Goal/Objective

We currently have a very stable website conversion rate(visits with at least 1 download of the app). It hovers around 15% . The question is: is that good? is that bad? can we improve it?
![conversion rate](https://user-images.githubusercontent.com/4820683/73540399-1a627300-4430-11ea-9153-9014822f315d.png)

Also, looking at our "landing page" from a performance marketing

[2020-02-09 16:01] huey735 opened #338 "The markets page is publishing duplicates of trades"
### Description

The bisq.network/markets page is publishing the same trade twice seemingly for all markets. This issue seems to have started on February 7th 2020. From looking at the big markets, the first instance of the issue seems to be at 15h33m10s for the EUR market.

### Screenshots
![Screenshot from 2020-02-09 15-43-31](https://user-images.githubusercontent.com/44140017/74105245-04e9f900-4

[2020-02-09 21:05] wiz commented on #338
Thanks for reporting, but yeah, we know - unfortunately v1.2.6 release branch has some major issues which we are working on, yesterday I had upgraded the node which serves data to the Markets API but reverting it to v1.2.5 now

[2020-02-09 21:06] wiz commented on #338
BTW in the future you can report market issues to bisq-markets repo

[2020-02-10 00:31] wiz commented on #338
@huey735 can you confirm this issue is resolved and if so close the issue? thanks

[2020-02-10 10:12] huey735 commented on #338
It does look like it's fixed. In the future I'll make sure to post it on the correct repository.

[2020-02-10 10:12] #338 closed, assigned to nobody

[2020-02-10 12:54] ripcurlx commented on #338
There are still around 400 trade statistic duplicates in the data store that were added by trading with our current master (which have the v1.2.6) changes in there. As soon as https://github.com/bisq-network/bisq/pull/3958 is merged and deployed these duplications should be remove as well. Including the privacy test trades by @wiz :wink:

[2020-02-29 12:43] JeremyRand opened #346 "List Matrix channel on Community page"
Bisq's Freenode channel (listed on the Community page) states in the channel topic that it is synced with Matrix.  However, neither the Freenode channel topic nor the Community page state which Matrix channel that is.  I can find two different Matrix channels (`#bisq:matrix.org` and `#bisq.network:matrix.org`; I'm guessing the former is the correct one but I'm not certain), and it's conceivable th

[2020-03-01 11:08] RiccardoMasutti commented on #346
Correct one is https://webchat.freenode.net/?channels=bisq

[2020-03-01 12:02] JeremyRand commented on #346
@RiccardoMasutti ...that's an IRC channel.

[2020-03-02 22:21] m52go commented on #346
@JeremyRand thanks for pointing this out. I also think the room most people use is `#bisq:matrix.org`.

However, it's not clear to me how to handle the situation regarding Matrix and IRC...activity is infrequent, and I'm not sure any regular contributors hang out in either place. Further, I'm not sure who moderates those channels, and I also haven't been successful in contacting the contributor wh

[2020-03-03 08:44] JeremyRand commented on #346
@m52go I tend to prefer methods of communication that have open-source implementations and which are friendly to Tor users.  So, from that perspective, OFTC IRC would be ideal for me; Matrix is 2nd-best, Freenode IRC is 3rd place, and things like Slack and Keybase (which I think are the two that Bisq devs tend to use?) are a distant last.

I don't have any magic solutions for you though; it's cert

[2020-03-04 17:52] m52go commented on #346
@JeremyRand highly appreciate your thoughtful answer, and I agree. We've been treading a fine line between principle and practicality (as it applies to everyday users who just want help with a trade without having to figure out what IRC is)...and I'm not sure we've figured out the right balance yet.

For what it's worth, Slack is now decommissioned and Keybase is what we primarily use.

As for how

[2020-03-07 16:07] RiccardoMasutti opened #351 "Bisq.network On-Site Search Engine Optimization"
I propose to continue Search Engine Optimization work as defined in [Bisq Growth Guidelines](https://gist.github.com/m52go/4e0e5c5f8fef4d71e22ee4eaa742d141). Specifically, for Cycle 10 and 11, we need to focus on liquidity. For this reason I propose to include it in the budget for Cycle 12.

There are still several errors within the pages like image missing alts/not optimized, H1 H2 H3... missing,

[2020-03-13 17:29] m52go opened #356 "Create friendly, interactive, simple getting-started page"
The existing getting-started guide is a long, static wall of text that only addresses 1 use case.

That page gets THOUSANDS of impressions a month, but I unscientifically guess that most of those impressions are wasted due to the nature of the medium and peoples' short attention spans.

I would like to replace links to this document with a more interactive and graphical getting-started page on the

[2020-03-13 17:30] m52go commented on #351
Rejected, per https://github.com/bisq-network/compensation/issues/463#issuecomment-597069076.

[2020-03-13 17:30] #351 closed, assigned to nobody

[2020-03-13 17:31] m52go commented on #305
Marking as dropped since translations is a very low priority right now, and no new ones will be added for the foreseeable future.

We can pick this issue back up when it becomes relevant.

[2020-03-13 17:31] #305 closed, assigned to nobody

[2020-03-13 17:38] m52go commented on #252
Although blog posts are elements of the website, with the new [growth infrastructure](https://bisq.wiki/Growth_Team#Infrastructure), it makes more sense to manage blog post _ideas_ on the [growth kanban board](https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets) so it's easier to relate them to current priorities.

Of course, blog posts will continue to be submitted as PRs and reviewed here as usual.

[2020-03-13 17:38] #252 closed, assigned to nobody

[2020-03-13 17:38] m52go commented on #251
Although blog posts are elements of the website, with the new [growth infrastructure](https://bisq.wiki/Growth_Team#Infrastructure), it makes more sense to manage blog post _ideas_ on the [growth kanban board](https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets) so it's easier to relate them to current priorities.

Of course, blog posts will continue to be submitted as PRs and reviewed here as usual.

[2020-03-13 17:38] #251 closed, assigned to nobody

[2020-03-13 17:38] m52go commented on #250
Although blog posts are elements of the website, with the new [growth infrastructure](https://bisq.wiki/Growth_Team#Infrastructure), it makes more sense to manage blog post _ideas_ on the [growth kanban board](https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets) so it's easier to relate them to current priorities.

Of course, blog posts will continue to be submitted as PRs and reviewed here as usual.

[2020-03-13 17:38] #250 closed, assigned to nobody

[2020-03-13 17:39] m52go commented on #249
Although blog posts are elements of the website, with the new [growth infrastructure](https://bisq.wiki/Growth_Team#Infrastructure), it makes more sense to manage blog post _ideas_ on the [growth kanban board](https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets) so it's easier to relate them to current priorities.

Of course, blog posts will continue to be submitted as PRs and reviewed here as usual.

[2020-03-13 17:39] #249 closed, assigned to nobody

[2020-03-13 17:39] m52go commented on #180
Although blog posts are elements of the website, with the new [growth infrastructure](https://bisq.wiki/Growth_Team#Infrastructure), it makes more sense to manage blog post _ideas_ on the [growth kanban board](https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets) so it's easier to relate them to current priorities.

Of course, blog posts will continue to be submitted as PRs and reviewed here as usual.

[2020-03-13 17:39] #180 closed, assigned to nobody

[2020-03-13 17:39] m52go commented on #179
Although blog posts are elements of the website, with the new [growth infrastructure](https://bisq.wiki/Growth_Team#Infrastructure), it makes more sense to manage blog post _ideas_ on the [growth kanban board](https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets) so it's easier to relate them to current priorities.

Of course, blog posts will continue to be submitted as PRs and reviewed here as usual.

[2020-03-13 17:39] #179 closed, assigned to nobody

[2020-03-13 17:39] m52go commented on #178
Although blog posts are elements of the website, with the new [growth infrastructure](https://bisq.wiki/Growth_Team#Infrastructure), it makes more sense to manage blog post _ideas_ on the [growth kanban board](https://grow.bisq.cc/b/jPBBopYuLdGYdDpvF/markets) so it's easier to relate them to current priorities.

Of course, blog posts will continue to be submitted as PRs and reviewed here as usual.

[2020-03-13 17:39] #178 closed, assigned to nobody

[2020-04-01 21:45] pedromvpg commented on #310
I think we're asking too much from the users to have region specific content when toggling for translation. It assumes too much of geography just going by language. Would then be much better to have a "Regions" section in that menu, or something much more tied to geography.

A lot of people speak different languages from the official one in their jurisdiction.

I would strongly urge to go with the

[2020-04-17 21:28] m52go commented on #356
Should have a preview of this ready soon.

[2020-04-29 03:33] #310 closed, assigned to nobody

[2020-06-02 20:30] stevavoliajvar opened #369 "Add search to website"
Bisq website would be much better with a search.

Since this site is static there are ways to implement search with using [minisearchjs](https://github.com/lucaong/minisearch). I have experience in implementing it, implemented [here](https://flakhobby.com), and would like to make it work for bisq website if bisq community is ok with it.

Roughly technical process would consist in building an index

[2020-06-09 22:49] m52go commented on #369
@stevavoliajvar hey thanks for the offer.

We're very close to rolling out a wiki, which will become the go-to resource for information about Bisq. That will probably lead to the website being simplified soon afterward, so I don't know if adding search would be worth the effort.

Is there anything in particular that you important but hard to find? It might be helpful to know as we structure the wi

[2020-06-20 21:09] pedromvpg opened #372 "Revisions to Getting Started page visual styles"
Proposing a couple of changes to the layout and copy on the getting Started page to make it more inviting and legible.

![image](https://user-images.githubusercontent.com/807505/85211544-49627e00-b318-11ea-9142-4cfdeffba66f.png)

- Revise header
- Make more actionable copy in to bullet lists
- Add max widths so lines don't get too long
- Increase negative space
- Move selection tabs to the bottom

[2020-06-30 12:04] m52go commented on #356
Completed with #367.

[2020-06-30 12:04] #356 closed, assigned to nobody

[2020-07-02 13:25] stevavoliajvar commented on #369
Fair point.

Then I'd suggest, since wiki has search, to make search input field on website routes to wiki search via `action` attribute in HTML.

[2020-08-12 20:32] m52go commented on #372
Closing as complete now that #380 is merged.

[2020-08-12 20:32] #372 closed, assigned to nobody

[2020-08-12 20:37] m52go commented on #355
I know the implementation of this issue didn't quite go as initially planned, but it was at least partially addressed with #382 -- calls to action are much more clear now. Of course, conversion rate is an ongoing concern, so we should continually monitor it and determine ways to improve it.

I will close this for now, but @FKrauss would be great to see conversion rates in the coming weeks, and we

[2020-08-12 20:37] #355 closed, assigned to nobody

[2020-09-21 18:05] m52go commented on #346
Completed with #395.

[2020-09-21 18:05] #346 closed, assigned to nobody

[2020-09-21 18:08] m52go commented on #369
Now that wiki is in more active use, maybe we could do this. @stevavoliajvar would you be interested?

Main thing on my mind is figuring out a place to put the search box. Site is already so crowded...

I imagine it opening a new window with wiki search results.

[2020-12-14 10:32] stevavoliajvar commented on #369
@m52go i see this just now, I would like to do this.

The place can be a simple looking glass icon before change theme icon that would open search prompt, either full screen or just spread out input field. Then that form is connected with bisq.wiki search and redirects user to there.

[2020-12-15 04:50] m52go commented on #369
That sounds good. I think a spread-out input field would be better. Should results open in a new tab, since wiki is a different site?

[2020-12-15 11:06] stevavoliajvar commented on #369
@m52go I think it should because it takes user to a new webstite, so previous one still gets opened. But if people don't like it then we can easily revert back to the same tab.

I will report within a week from now regarding this issue.

[2020-12-18 16:14] stevavoliajvar commented on #369
@m52go here is the [preview](https://deploy-preview-411--bisq-website.netlify.app/) and a [pull request](https://github.com/bisq-network/bisq-website/pull/411)

I decided to just put a simple search field in the end, because other solution with full screen search would require JavaScript which is not necessary and overkill in my opinion.

[2021-01-04 20:02] rating89us opened #417 "Trade History should display whether trade was a sell or buy"
In Markets pages (for instance, https://bisq.network/markets/?currency=xmr_btc), _Trade History (Last 100 trades)_ section should display a trade in red (if it was a sell) or green (if it was a buy).

For example, like this trade history from kraken exchange:

![image](https://user-images.githubusercontent.com/45968869/103574364-0f318600-4ed0-11eb-8ffd-6f0ee7c4297c.png)

[2021-01-05 19:20] m52go commented on #417
This is no longer possible, unfortunately. Trade direction used to be shown, but [had to be removed](https://github.com/bisq-network/bisq-website/commit/b09c98148204efd448f41b9b72781c7e55bf7163) when trade direction was removed from Bisq's trade statistics.

[2021-01-05 19:20] #417 closed, assigned to nobody

[2021-01-19 00:44] m52go commented on #119
Website is a git repository and documentation is self-hosted...so in case of a DNS issue, the data should be safe. I'm not sure it makes sense to make the websites available at onion addresses at this point.

[2021-02-01 01:16] kiddhustle opened #422 "wip: Accessibility issues"
I have noticed accessibility issues whilst reviewing the site.

Running a quick test on the homepage (using [aXe a11y tools](https://www.deque.com/axe/)) the 26 issues are found. They are summarised as follows:

Critical:    3
Serious:    9
Moderate:    8
Minor:    3
Review:    3

These issues can have negative implications for users reliant are screen readers/assistive technologies. Fixing them w

[2021-02-01 04:39] Conza88 commented on #422
_Fixing them will probably have SEO benefits also._

Definitely need some of that imo.

[2021-02-01 05:43] m52go commented on #422
@kiddhustle can you give more details on what exactly these issues are?

[2021-02-02 01:32] kiddhustle commented on #422
@m52go I will try to post more details tomorrow when I have access to my laptop 👌🏾

[2021-02-02 09:33] kiddhustle commented on #422
@m52go accessibility issues are as follows (for the home page only):

* Elements must have sufficient color contrast - 2
* Frames must have title attribute - 1
* Images must have alternate text - 2
* Links must have discernible text - 1
* `<ul>` and `<ol>` must only directly contain `<li>`, `<script>` or `<template>` elements - 1
* `<li>` elements must be contained in a `<ul>` or `<ol>` - 5
* Link

[2021-02-02 22:02] m52go commented on #422
I'm not sure it makes sense to spend time on most of these things...thanks for offering though.

[2021-02-09 14:20] kiddhustle commented on #422
OK sure no problem

[2021-02-09 15:04] #422 closed, assigned to nobody

[2021-03-05 09:39] kilrau opened #429 "Add License"
Even though the following should apply according to [GitHub Docs](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository#choosing-the-right-license):

I am not sure if this the intention for the bisq website though. A e.g. `AGPL-3.0` license, which is also used for the bisq main application, seems more fitting. Would be great if someone from the team c

[2021-03-06 22:48] m52go commented on #429
Thanks for bringing this up -- never really thought about it. You're certainly right that the traditional restrictive copyright approach makes no sense to apply to the website. Just earlier today someone showed off a coffee mug with a picture from the website (which they intend to sell), and of course it was totally acceptable.

But I'm also not sure a software license is appropriate for this webs

[2021-03-07 09:32] kilrau commented on #429
Yep, makes sense. Why I brought this up: we @ [OpenDEX](https://opendex.network/) are in search for website source code we can use to host a website that allows users to download binaries for our [opendex-desktop](https://github.com/opendexnetwork/opendex-desktop) app. The bisq website does everything we'd need with some nice built-in features like recognizing the operating system.

Why not quickl

[2021-03-07 12:43] m52go commented on #429
So basically just using the Jekyll shell as a starting point for all new content, branding, etc...sounds reasonable to me :+1:

ACK

Closing since immediate issue is resolved, but may add copyright specification later.

[2021-03-07 12:43] #429 closed, assigned to nobody

[2021-07-28 20:51] m52go commented on #369
Done with #418.

[2021-07-28 20:51] #369 closed, assigned to stevavoliajvar

[2021-07-28 21:14] m52go commented on #136
Closing as stalled/dropped. The fix needs to happen on the development side anyway, so please open a new issue in https://github.com/bisq-network/bisq to have it addressed.

[2021-07-28 21:14] #136 closed, assigned to devinbileck

[2021-07-28 21:18] m52go commented on #119
Closing this issue since it's not particularly relevant to the website. Further discussion is probably better off at https://github.com/bisq-network/bisq/discussions anyway.

[2021-07-28 21:18] #119 closed, assigned to nobody

[2022-04-12 13:40] ghost opened #458 "Daemon & CLI info on downloads page"
Daemon and cli packages will be published as [zip archives](https://github.com/bisq-network/bisq/pull/6122). Appropriate info should be added to [downloads page](https://github.com/bisq-network/bisq-website/blob/270dc9511c8e367b35aab2b0e206b5ab2e205209/_layouts/page_downloads.html).

References:
- https://github.com/bisq-network/bisq/pull/6122#issuecomment-1096693476
- https://bisq.network/downloa